*{
    padding: 0;
    margin: 1vh;
}
body{
    background-color: black;
    color: white;
    height: auto;
    width: 100vw;
}
ol{
    margin-left: 4vh;
}
li{
    display: flex;
    color: white;
}
Link{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 5vh;
}
h1{
    font-size: 8vh;
    text-align: center;
    color: white;
    font-family: cursive;
    text-decoration: underline;
}
.clear{
    height: 6vh;
    width: 14vh;
    background-color: red;
    color: white;
}
input{
    height: 5vh;
    width: 80vw;
    text-align: center;
}
.add{
    height: 5vh;
    width: 10vh;
    color: black;
}
.card{
    background-color: white;
    height: 40vh;
    width: 40vh;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h1{
    font-size: 4vh;
    color: red;
    font-family: monospace;
}